.sidebar {
    width: 20%;
    min-width: 20%;
    background-color: #979797;
    color: #000000;
    padding: 20px;

    height: 100%;
}
.nav-dashboard{
    background-color: rgb(0, 0, 0);
    height:240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    margin: 20px 0;
    border-radius: 10px;
    color: white;
}

.logo{
    font-size: 32px;
    text-decoration: none;
    color: white;
}
.sidebar ul {
    list-style-type: none;
}

.route-btn {
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 10px;

    
    display: flex;
    align-items: flex-start;
}

.route-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;

    height: 100%;
    width: 100%;
    padding: 20px;
}

.content {
    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
}

.widget-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: 100%;
}

.widget {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    min-width: 150px; /* Minimum width */
    min-height: 150px; /* Minimum height */
    
}
.widget.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    border-radius: 10px;
    font-size: 32px;
}

.widget.small {
    width: calc(33.333% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    border-radius: 10px;
    font-size: 32px;

    max-width: 100%;
}


.big-widget-box{
    background-color: bisque;
    min-height: 30%;
    width: 100%;

    padding: 20px;
}

/* .small-widget-box{
    background-color: brown;
    height: 70%;
    width: 100%;

} */

.small-widget-box {
    background-color: brown;
    min-height: 70%;
    width: 100%;
}




.resizable {
    resize: both;
    overflow: auto;
}

.resizer {
    width: 10px;
    height: 10px;
    background: #333;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}
